<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC</title>
    <link rel="stylesheet" href="/assets/output.css">
</head>
<body>

    <nav class="navbar">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl">ToDoList</a>
        </div>
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn m-1">Menu</label>
          <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
            <?php
                foreach($menu as $href => $anchorText){
                    echo "<li><a href='$href'>$anchorText</a></li>";
                }
            ?>
          </ul>
        </div>
    </nav>
    


    <main class="w-full flex flex-wrap justify-center items-center">
        {{page}}
    </main>


</body>
</html>