<div class="container pt-12">
    <div class="flex flex-wrap justify-center items-center">
        <div class="w-10/12 flex justify-center items-center">
            <h1 class="uppercase font-bold underline text-2xl">To do list</h1>
        </div>
    </div>
</div>

<div class="container pt-12">
    <div class="flex flex-wrap justify-center items-center">
        <div class="w-10/12 flex justify-center items-center">
            <div class="overflow-x-auto w-full border border-white rounded-md">
                <table class="table">
                  <!-- head -->
                  <thead>
                    <tr>
                      <th>
                        <label>
                          <input type="checkbox" class="checkbox" />
                        </label>
                      </th>
                      <th>Name</th>
                      <th>Job</th>
                      <th>Favorite Color</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- row 1 -->
                    {{homeitem}}
                  
                </table>
              </div>
        </div>
    </div>
</div>
